

.header{
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 7%;
    z-index: 1;
    background-color: white;
} 

.header-img {  
    margin-left: 24px;  
}

.header-title{
    display: inline;   
    text-transform: uppercase; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 32px;
}

.header-academy{
    font-weight: lighter;
}

.navigation {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline;
    margin-left: 352px;
    margin-right: 24px; 
}

li {
    display: inline;   
    padding-left: 16px;
}

.gray-background{
    background-color: lightgray;
    margin-left: 24px; 
    margin-right: 24px;
    padding: 210px 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.gray-paragraph{
    font-size: 1rem;
    position: relative;
    bottom: 200px;
    margin-left: 1000px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.learning-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 900px;
}

.learning-img {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 500px;
    margin: 0px 48px;
    width: 60%; 
    height: 400px;
}

.white-background {
    position: relative;
    bottom: 498px;
    background-color: white;
    margin-left: 24px; 
    margin-right: 24px;
    padding-top: 250px; 
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 350px;
    width: 50%; 
}

.info-text-heading {
    position: relative;
    margin-right: 100px;
    top: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;

}

.information-img {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1260px;
    margin: 0px 48px;
    width: 60%; 
    height: 400px;
}

.information-text-paragraph {
    position: relative;
    margin-left: 48px;
    bottom: 650px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.small-container-one {
    background-color: white;
    width: 33%;
    position: relative;
    margin-left: 920px;
    bottom: 1704px;
    padding-top: 92px; 
    padding-bottom: 92px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid lightslategrey;
}
.orientation-date-header {
    margin-left: 220px;
    position: relative;
    bottom: 65px;
}

.orientation-img {
    position: relative;
    margin-left: 944px;
    bottom: 1910px;
    display: flex;
    justify-content: right;
    width: auto;
    height: 175px;
}

.orientation-info {
    margin-left: 1143px;
    position: relative;
    bottom: 2030px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index:0.5;
}

.small-container-two {
    background-color: white;
    width: 33%;
    position: relative;
    margin-left: 920px;
    bottom: 1987px;
    padding-top: 92px; 
    padding-bottom: 92px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid lightslategrey;
}

.on-campus-header {
    margin-left: 220px;
    position: relative;
    bottom: 65px;
}

.on-campus-img {
    position: relative;
    margin-left: 944px;
    bottom: 2201px;
    display: flex;
    justify-content: right;
    width: auto;
    height: 175px;
}

.on-campus-info {
    margin-left: 1143px;
    position: relative;
    bottom: 2315px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index:0.5;
}

.small-container-three {
    background-color: lightgray;
    width: 33%;
    position: relative;
    margin-left: 920px;
    bottom: 2271px;
    padding-top: 92px; 
    padding-bottom: 92px; 
}

.our-guest-header {
    margin-left: 220px;
    position: relative;
    bottom: 65px;
}

.our-guest-img {
    position: relative;
    margin-left: 944px;
    bottom: 2485px;
    display: flex;
    justify-content: right;
    width: auto;
    height: 175px;
}

.our-guest-info {
    margin-left: 1143px;
    position: relative;
    bottom: 2595px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index:0.5;
}

.start-learning-container {
    background-color: lightgray;
    position: relative;
    bottom: 2525px;
    margin-left: 24px; 
    margin-right: 24px;
    padding-top: 350px; 
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 250px;
}

.start-learning-header {
   display: flex;
   justify-content: center;
   position: relative;
   bottom: 275px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 2rem;
}